body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    width: 100%;
    height: 100%;
    background-color: #57579288;
    overflow: scroll;
}

#container #title{
    color: white;
    text-align: center;
    padding: 3% 0;
    padding-bottom: 1%;
    margin: 0;
    font-size: 3em;
}

#container #description{
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
    font-size: 1.5em;
}

#container #survey-form{
    width: 50%;
    margin: auto;
    background-color: #292948;
    border-radius: 4px;
    padding: 2% 5%;
}

#container #survey-form label{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5em;
}

#container #survey-form #email, #container #survey-form #name, #container #survey-form #number, #container #survey-form #dropdown{
    width: 90%;
    height: 2.5em;
    border-radius: 0.2em;
    border: none;
    padding: 0 2%;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 3%;
}

#container #survey-form #dropdown{
    width: 94%;
}

#form-group{
    display:flex;
    align-items: center;
    margin-bottom: 0.5em;
    
}
#container #form-group label{
    margin: 0;
}
#recommendation{
    margin-top: 1em;
}
#comments{
    margin-top: 1em;
}
textarea{
    width: 94%;
    border: none;
    padding: 1em 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
    resize: none;
}
#submit{
    width:97%;
    background: #37af65;
    color:white;
    padding:1em;
    border-radius: 0.5em;
    border:none;
    font-size: large;
    margin-bottom: 2em;
}
